html {
    width: 270px;
    padding: 0;
}

h1 {
    color: rgba(142, 68, 173, 0.7);
    font-weight: normal;
    font-family: Arial;
    font-size: 28px;
    margin-left: 17px;
    margin-top: 7px;
    margin-bottom: 7px
}

hr {
    border-top-style: solid;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-width: 1px;
    border-color: rgba(142, 68, 173, 0.7);
    margin-left: 2px;
    margin-right: 2px;
}

input {
    font-family: Arial;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-color: #8e44ad;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#signUp {
    margin-left: 10px;
}  

#email, #password, #login {
    margin-left: 18px;
}

#login, #signUp {
    font-size: 18px;
    width: 98px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-width: 0;
    background: #8e44ad;
    color: #ffffff;
    box-shadow: 0 2px 0 0 #703688;
    -moz-box-shadow: 0 2px 0 0 #703688;
    -webkit-box-shadow: 0 2px 0 0 #703688;
}

#login:active, #signUp:active {
    position:relative;
    top:2px;
    border-radius: 5px;
    border-width: 0;
    background: #9b50ba;
    color: #ffffff;
    box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
}

.textInputFields {
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0 1px 2px 0 #b075c9 inset;
}