html {
	height: 100%;
}
body {
	height: 100%;
	background-color:#FF7400;
}
#map-canvas {
	height: 80%;
	width: 70%;
}
#logo {
	width:30%;
	height:auto;
}
#navbar {
	width:auto;
	height:auto;
}
#toolbar {
	width:30%;
	height:auto;
	position:absolute;
	top:113px;
	right:37px;
	padding:5px;
}