html, body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

#top-bar {
	background-color: #8e44ad;
	width: 100%;
	height: 50px;
}

#top-bar h1 {
	color: #ffffff;
	font-family: Arial;
	font-weight: normal;
	margin-left: 10px;
	line-height: 50px;
}

#map-canvas {
	width: 100%;
	height: 100%;
	background-color: #000000;
}