<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="caerus.css">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0R2eugcQaxpF-czy8hHR9dHcPi3-2k38&sensor=true">
		</script>
		<script src="caerus.js"></script>
	</head>
	<body>
		<img src="" alt="Logo" id="logo">
		<img src="" alt="NavBar" id="navbar">
		<div id="map-canvas"></div>
		<div id="toolBar">
			<button onclick="addPin()" style="float:right;">Add pin</button>
			<input type="text" id="address" value="Enter address"/>
			<input type="number" value="10" id="circleRadius"/>
			<button onclick="codeAddress()">Add pin to address</button>
		</div>
	</body>
</html>