<!DOCTYPE html>
<html>
  <head>
 <link rel="stylesheet" type="text/css" href="caerus.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0R2eugcQaxpF-czy8hHR9dHcPi3-2k38&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(54,-2),
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <header id="top-bar">
      <h1>Project Caerus</h1>
    </header>
      <div id="map-canvas"></div>
  </body>
</html>
